@model Onestop.Seo.Models.SeoPart

<input type="hidden" name="itemIds" value="@Model.ContentItem.Id" />

<div class="onestop-seo-override-controls">
    <div class="onestop-seo-override-indicators">
        <span class="onestop-seo-override-indicate-default">@T("default")</span>
        <span class="onestop-seo-override-indicate-overridden">@T("overridden")</span>
    </div>
    <span class="text onestop-seo-character-counter"></span>
    
    <button type="submit" name="submit.SaveIndividual" class="button onestop-seo-override-submit-clear" value="@Model.ContentItem.Id">@T("Clear")</button>
    <button type="button" name="edit" class="button onestop-seo-override-edit" value="@Model.ContentItem.Id">@T("Edit")</button>
    <button type="submit" name="submit.SaveIndividual" class="button onestop-seo-override-submit" value="@Model.ContentItem.Id">@T("Save")</button>
</div>